
/**
	iMPP

	This script is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This script is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this script.  If not, see <http://www.gnu.org/licenses/>.

*/

manifest {
  name = 'IMPP'
  author = 'Sirisha Thippabhotla  '
  homePage = 'https://github.com/Sirisha-t/iMPP'
  description = 'integrated Metagenomic protein predictor'
  mainScript = 'impp.nf'
}

params {

    /* 	Containers
     --------------------------------*/


    docker_container_sga = "ljdursi/sga-docker"

    docker_container_spades = "staphb/spades:latest"

    docker_container_fgs = "sonnenburglab/fraggenescan:latest"

    docker_container_mpd = "biocontainers/prodigal:v1-2.6.3-4-deb_cv1"

    docker_container_bwa  = "pegi3s/bwa:latest"

    docker_container_diamond  = "biocorecrg/diamond:latest"

    docker_container_plass  = "soedinglab/plass:latest"



    /* 	Execution flow parameters
     --------------------------------*/

	// Please refer to the params.config file


	/* 	Processing parameters
     --------------------------------*/

  	// Please refer to the params.config file


    /* 	Initialisation
     --------------------------------*/


	//These are used to print version and help
	help = null
	version = null


}


profiles {


  // Enables Docker (please load with another config file)
  docker {
    docker.enabled = true
    // Avoid this error:
    // WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
    // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
    // once this is established and works well, nextflow might implement this behaviour as new default.
    docker.runOptions = '-u \$(id -u):\$(id -g)'
	// If you still get the error above, please decomment the following line (thanks to Flavia Flaviani; https://github.com/flacchy)
	// docker.runOptions = "--memory-swap '-1'"
  }


  base {
    includeConfig 'params.config'
  }



timeline {
  enabled = false
}

report {
  enabled = false
}

dag {
  enabled = false
}

